{% extends 'base.html' %}

{% block content %}
<h2>Write a New Blog Post</h2>
<form method="POST" action="{{ url_for('write') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }} {{ form.title(size=40, class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.content.label }} {{ form.content(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>
{% endblock %}